{#
/**
 * @file
 * Default theme implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  not group.isPublished() ? 'group--unpublished',
  'cd-layout-with-section-sidebar',
  view_mode ? 'group--view-mode-' ~ view_mode|clean_class
]
%}

{{ attach_library('common_design/cd-alert') }}

<article{{ attributes.addClass(classes) }}>
  {% if is_archived %}
    <div class="group--archived">
      <div class="cd-alert">
        <div aria-live="polite">
          <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--about"></use>
          </svg>
          <div class="cd-alert__container cd-max-width [ cd-flow ]">
            <div class="cd-alert__message">
              {{ archive_message|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ title_prefix }}
  {% if page %}
    {% if title %}
      {# This is not wrapped as this renders the page title block which
         already wraps the node title in a <h1>. #}
      {{ title }}
    {% endif %}
  {% else %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {{ local_tasks }}

  <div{{ content_attributes.addClass('node__content') }}>

    {% block section %}
      <div class="cd-layout">

        <div class="cd-layout__content">
          {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_date_closed', 'field_external_link') }}
          {{ content.field_content }}
        </div>

        <aside class="cd-layout__sidebar cd-layout__sidebar--first cd-layout__sidebar--wide">
          {% if user.hasPermission('administer nodes') %}
          <div class="paragraph-quick-links paragraph--type--section-menu">
            <h2 class="cd-sidebar__label cd-block-title cd-block-title--underline">Quick links</h2>
            <ul class="content-links">
              <li>{{ link('Add new content', 'internal:/group/' ~ group.id.value ~ '/content/create') }}</li>
              <li>{{ link('Add existing content', 'internal:/group/' ~ group.id.value ~ '/node/add') }}</li>
              <li>{{ link('List all content', 'internal:/group/' ~ group.id.value ~ '/content') }}</li>
              <li>{{ link('Add member', 'internal:/group/' ~ group.id.value ~ '/content/add/group_membership') }}</li>
            </ul>
          </div>
          {% endif %}

          {{ content.field_date_closed }}
          {{ content.field_external_link }}
          {{ content.field_sidebar }}
        </aside>

      </div>
    {% endblock %}

    {% if content.field_footer|render %}
      {{ content.field_footer }}
    {% endif %}

  </div>

</article>
