<div{{ attributes }}>
  <div class="container-inline">
    {{ widget.mode }}
    {{ widget.daily_count }}
  </div>
  <div class="dates">
    <div class="date">{{ widget.is_all_day }}</div>
    <div class="date container-inline">{{ widget.day_start }} {{ widget.time_start }}</div>
    <div class="date container-inline">{{ widget.day_end }} {{ widget.time_end }}</div>
    <div class="date">{{ widget.time_zone }}</div>
  </div>
  {{ widget.weekdays }}
  {{ widget.ordinals }}
  <div class="ends">
    <div>
      {{ widget.ends_mode }}
    </div>
    <div>
      {{ widget.ends_count }}
      {{ widget.ends_date }}
    </div>
  </div>
</div>
