{%
  set group_layout_classes = [
    'cd-container',
  ]
%}

{% embed 'page.html.twig' %}
  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main aria-label="{{ 'Page content'|t }}" {{ attributes.setAttribute('id', 'main-content').addClass(group_layout_classes) }}>
      {{ page.page_title }}

      <div class="cd-layout">
        {% if page.sidebar_first|render|striptags|trim %}
          <aside class="cd-layout__sidebar cd-layout__sidebar--second">{{ page.sidebar_first }}</aside>
        {% endif %}

        <div class="cd-layout__content">
          {{ page.content }}
        </div>{# /.cd-layout__content #}

        {% if page.sidebar_second|render|striptags|trim %}
          <aside class="cd-layout__sidebar cd-layout__sidebar--second">{{ page.sidebar_second }}</aside>
        {% endif %}
      </div>
    </main>
  {% endblock %}
{% endembed %}
