{% embed 'node--full.html.twig' %}

  {% block section %}
    <div class="cd-layout">

      <div class="cd-layout__content">
        {{ content|without('field_global_focal_point', 'field_updated', 'field_agency_initiative_or_group', 'field_type_of_entity') }}
      </div>

      <aside class="cd-layout__sidebar cd-layout__sidebar--first cd-layout__sidebar--wide" role="complementary">
        {{ content.field_updated }}
        {{ content.field_agency_initiative_or_group }}
        {{ content.field_type_of_entity }}
        {% if logged_in %}
          {{ content.field_global_focal_point }}
        {% else %}
          <div class="field field--name-field-focal-point">
            <div class="field__label">Global Focal Point</div>
            <div class="field__item">
              <p>Request for contact info</p>
              {{
                {
                  '#type': 'webform',
                  '#webform': 'service_contact',
                  '#default_data': {
                    'to': node.field_global_focal_point.entity.field_email.value
                  }
                }
              }}
            </div>
          </div>
        {% endif %}
      </aside>

    </div>
  {% endblock %}

{% endembed %}

