{% embed 'node--full.html.twig' %}

  {% block section %}
    <section class="cd-layout-two-col">

      <div class="cd-layout-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_oa_section', 'field_iasc_audience') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_oa_section }}
        {{ content.field_iasc_audience }}
        {{ content.field_sidebar }}
      </aside>

    </section>
  {% endblock %}

{% endembed %}

