{% embed 'node--full.html.twig' %}

  {% block section %}
    <section class="cd-layout-two-col">

      <div class="cd-layout-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_links', 'field_contact', 'oa_section_ref', 'og_group_ref', 'field_iasc_audience', 'field_referenced_docs') }}
        {{ content.field_content }}
        {{ content.field_referenced_docs }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_links }}
        {{ content.field_contact }}
{#        {{ content.oa_section_ref }}#}
{#        {{ content.og_group_ref }}#}
{#        {{ content.field_iasc_audience }}#}
        {{ content.field_sidebar }}
      </aside>

    </section>
  {% endblock %}

{% endembed %}

