{% embed 'node--full.html.twig' %}

  {% block section %}
    <div class="cd-layout-two-col">

      <div class="cd-layout-main-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_links', 'field_contact', 'oa_section_ref', 'og_group_ref', 'field_iasc_audience', 'field_referenced_docs') }}
        {{ content.field_content }}
        {{ content.field_referenced_docs }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_links }}
        {{ content.field_contact }}
        {{ content.field_sidebar }}
      </aside>

    </div>
  {% endblock %}

{% endembed %}

