{% embed 'node--full.html.twig' %}

  {% block section %}
    <div class="cd-layout">

      <div class="cd-layout__content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_oa_section', 'field_iasc_audience') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout__sidebar cd-layout__sidebar--second" aria-label="{{ 'Sidebar'|t }}">
        {{ content.field_oa_section }}
        {{ content.field_iasc_audience }}
        {{ content.field_sidebar }}
      </aside>

    </div>
  {% endblock %}

{% endembed %}

