{% embed 'node--full.html.twig' %}

  {% block section %}
    <section class="cd-layout-two-col">

      {% if user.hasPermission('edit any contact content') %}
      <div class="cd-layout-main-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_membership', 'field_organisation') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_membership }}
        {{ content.field_organisation }}
        {{ content.field_sidebar }}
      </aside>
      {% else %}
      <div class="cd-layout-main-content">
        <p>To view more details, please login.</p>
      </div>
      {% endif %}

    </section>
  {% endblock %}

{% endembed %}

