{% embed 'node--full.html.twig' %}

  {% block section %}
    {% if is_archived %}
      <div class="group--archived">
        {{ archive_message|raw }}
      </div>
    {% endif %}

    <div class="cd-layout-two-col">

      <div class="cd-layout-main-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_oa_section', 'field_iasc_audience') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_oa_section }}
        {{ content.field_iasc_audience }}
        {{ content.field_sidebar }}
      </aside>

    </div>
  {% endblock %}

{% endembed %}

